IMAGE_REGISTRY_PREFIX={{ acr_login_server }}/
IMAGE_TAG={{ image_tag }}

POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_PORT=5432
POSTGRES_VOLUME_NAME=compensa_postgres_data
CORE_UPLOADS_VOLUME_NAME=compensa_core_uploads
PORTAINER_VOLUME_NAME=compensa_portainer_data

IDENTITY_DB={{ identity_db }}
CORE_DB={{ core_db }}
AI_DB={{ ai_db }}
NOTIFICATIONS_DB={{ notifications_db }}

ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment }}
FRONTEND_PORT={{ frontend_port }}
GATEWAY_PORT={{ gateway_port }}
IDENTITY_API_PORT={{ identity_api_port }}
CORE_API_PORT={{ core_api_port }}
COMPENSA_AI_PORT={{ compensa_ai_port }}
NOTIFICATIONS_PORT={{ notifications_port }}
FRONTEND_PUBLIC_URL={{ frontend_public_url }}
VITE_API_URL={{ vite_api_url }}
VITE_ENABLE_DEV_LOGIN=false

EMAIL_FROM_ADDRESS={{ email_from_address | default('') }}
EMAIL_FROM_NAME={{ email_from_name | default('Compensa+') }}
EMAIL_SMTP_HOST={{ email_smtp_host | default('') }}
EMAIL_SMTP_PORT={{ email_smtp_port | default('587') }}
EMAIL_USERNAME={{ email_username | default('') }}
EMAIL_PASSWORD={{ email_password | default('') }}
EMAIL_USE_STARTTLS={{ email_use_starttls | default('true') }}
MAGIC_LINK_EXPIRATION_MINUTES={{ magic_link_expiration_minutes | default('15') }}

JWT_ISSUER={{ jwt_issuer | default('Compensa.Identity') }}
JWT_AUDIENCE={{ jwt_audience | default('Compensa.Api') }}
JWT_SIGNING_KEY={{ jwt_signing_key }}
JWT_ACCESS_TOKEN_MINUTES={{ jwt_access_token_minutes | default('60') }}

IDENTITY_SEED_ADMIN_EMAIL={{ identity_seed_admin_email | default('') }}
IDENTITY_SEED_ADMIN_FULL_NAME={{ identity_seed_admin_full_name | default('Compensa Admin') }}

COMPENSA_AI_ENVIRONMENT={{ compensa_ai_environment }}
OPENAI_API_KEY={{ openai_api_key | default('') }}
GEMINI_API_KEY={{ gemini_api_key | default('') }}

RABBITMQ_USER={{ rabbitmq_user | default('compensa') }}
RABBITMQ_PASS={{ rabbitmq_pass }}
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
PORTAINER_PORT={{ portainer_port }}
PORTAINER_HTTPS_PORT={{ portainer_https_port }}
